{% extends 'baselog.html.twig' %}

{% block title %} Login {% endblock %}

{% block main %}

    <div class="banner-menu container-fluid">
        <h5 class="h5-custom menu ">Connexion</h5>
    </div>


    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <div class="row-login">


                    <a class="btn btn-primary mt-2 mb-3 btn-login " data-toggle="pill" href="#connexion" role="tab"
                       aria-controls="v-pills-home" aria-selected="true" id="loginjs"
                       >Connexion</a>
                    <a class="btn btn-primary mt-2  mb-3 btn-login"  href="{{ path('register') }}">S'inscrire</a>
                </div>

            </div>

            <!-- Login Form -->
            <div class="loginjs">
                <form method="post">
                    <input type="text" id="login" class="fadeIn second" name="_username" placeholder="Pseudo">
                    <input type="password" id="password" class="fadeIn second" name="_password"
                           placeholder="Mot de passe">
                    <button class="btn btn-primary mb-3" name="submit" type="submit">Login !</button>
                </form>
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="{{ path ('motDePasseOublie') }}">Mot de passe oublié?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- register Form -->







{% endblock %}